<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.blacksheep.teacher"
          android:installLocation="preferExternal"

          android:versionCode="1"
          android:versionName="1.0">
    <application android:label="@string/app_name" android:name=".MyApplication" android:icon="@drawable/icon">
        <activity android:name=".activites.lecture.AcStartLecture"
                  android:screenOrientation="landscape"
                  android:label="@string/app_name"

                  android:configChanges="keyboardHidden|orientation"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".model.database.DBtestAcrtiv"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".FasActiv"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".activites.lecture.AcLecture">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Fas2"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".game.TestTestActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="landscape"/>

        <activity android:name=".activites.test.AcStartTest"
                  android:screenOrientation="landscape"
                  android:configChanges="keyboardHidden|orientation"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".activites.test.AcStartExam"
                  android:screenOrientation="landscape"
                  android:configChanges="keyboardHidden|orientation"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity android:name=".activites.test.AcTestLoad"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity android:name=".activites.lecture.AcLectureLoad"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity android:name=".activites.mainScreen.AcMainTeachScreen"
                  android:screenOrientation="landscape"
                  android:configChanges="keyboardHidden|orientation"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activites.loadApp.AcLoadApp"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activites.greeting.AcGreeting"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activites.setting.AcSetting" android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".activites.setting.AcSettingParent" android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".activites.greeting.AcGreetingLoad" android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.testsocial.AcGame" android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".activites.loadApp.AcLoadResources" android:screenOrientation="landscape"
                  />

        <service android:name=".synchronization.DownloadService" />
        <activity android:name=".presentCard.AcPresentCard"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".presentCard.AcPresentCardLoad"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <activity android:name=".activites.adminka.AcChooseAnimation"/>
        <activity android:name=".activites.adminka.AcAnimation"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.zubrilka.AcZubrilka"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.blacksheep.teacher.activites.Info"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>


    <supports-screens
            android:resizeable="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:anyDensity="true"/>

</manifest>
